// ======================================
//  Extends
// ======================================

%btn {
    border-radius: 10px;
    padding: 10px;
    margin: 20px 10px 10px 0;
    border: none;
    transition-property: background-color;
    transition-duration: 500ms;
}

%a {
    text-decoration: none;
    color: $color-base--dark;
    display: block;
}

%img {
    @include flexy($dir: column, $just: center);
    width: 40%;
    height: 30%;
    margin: 3em 0 3em 30%;
}

