// ==============================
// Global Variables
// ==============================


// font-family
$font-url--google       : 'https://fonts.googleapis.com/css?family=Raleway Titillium+Web';
$font-family--primary   : 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-sarif;
$font-family--secondary : 'Titillium Web', Arial, 'Helvetica Neue';

// text
$font-size--p: 1.2em;
$font-size--h: 2em;
$font-weight--h: bold;
$line--height: 1.5em;

// colors
$white: #fff;
$black: #000;
$grey : #999;

$sunglo        : #e7717d;
$loblolly      : #c2cad0;
$tea           : #c2b9b0;
$sand-dune     : #7e685a;
$wild-willow   : #afd275;
$tuscany       : #ba9e9f;
$asparagus     : #90ac60;
$french-plum   : #93194f;
$gunmetal      : #30343f;
$silver-chalice: #acadae;


$color-map: (
    default : $wild-willow,
    success: $loblolly,
    error  : $sunglo,
    warning: $tea,
    info   : $sand-dune
);


$colors: (
     3  : $silver-chalice,
     4  : $asparagus,
     5  : $french-plum,
     6  : $tuscany,
     7  : $gunmetal,
     8  : $wild-willow,
     12 : $sand-dune
);

$color--base: rgba(65, 177, 130, 0.877);
$color-base--dark: darken($color--base, 25%);
$color-base--light: lighten($color--base, 25%);

$complement: complement($color--base);
$complement-light: lighten($complement, 30%);


//breakpoint
$breakpoints: (
    'sm': 480px,
    'lg': 1400px
);

$grid-map: (
    768: 12
);
