// =============================================================================
// Global Variables
// =============================================================================


// font-family
$font-url--google       : 'https://fonts.googleapis.com/css?family=Raleway Titillium+Web';
$font-family--primary   : 'Raleway', 'Helvetica Neue', Helvetica, Arial sans-sarif;
$font-family--secondary : 'Titillium Web', Arial, 'Helvetica Neue';


// font-weight
$font-weight: 1em;

// text

// colors
$color--primary: blue;
$color--secondary: green;
$color--accend: #000;

//breakpoint
$breakpoints: (
    'sm': 480px,
    'lg': 1400px
);
