// ======================================
//  Mixins
// ======================================

@mixin flexy(
    $disp: flex,
    $wrap: null, 
    $just: null, 
    $dir: null,
    $justs: null) {
    display: $disp;
    flex-wrap: $wrap;
    flex-direction: $dir;
    justify-content: $just;
    justify-self: $justs;
    @content
}

@mixin colors($map) {
    @each $theme, $color in $map {
        &--#{$theme}.theme__colors {
            background-color: $color;
            @content
        }
    }
}

@mixin btn-map($map) {
    @each $theme in $map {
        &--#{$theme} {
            @content
        }
    }
}



@mixin mq($break) {
    @if $break == "small" {
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-med) {
            @content
        }
    }
    @else if $break == "medium" {
        @media (min-width: $breakpoint-med + 1) {
            @content
        }
    }
    @else if $break =="large" {
        @media (min-width: $breakpoint-lg) {
            @content
        }
    }
}

@mixin grid {
    @for $i from 2 through 12 {
        &--#{$i} {
            margin-top: 10px;
            flex-basis: 100%;
        }
    }
  
}
