// ======================================
//  Mixins
// ======================================

@mixin flexy(
    $disp: flex,
    $wrap: null, 
    $just: null, 
    $dir: null,
    $justs: null) {
    display: $disp;
    flex-wrap: $wrap;
    flex-direction: $dir;
    justify-content: $just;
    justify-self: $justs;
    @content
}

@mixin colors($map) {
    @each $theme, $color in $map {
        &--#{$theme} {
            background-color: $color;
            @content
        }
    }
}

@mixin media($breakpoint) {
    @media (min-width: $breakpoint) {
        flex-direction: row;
    }
}

@mixin grid {
    @for $i from 1 through 12 {
        &--#{$i} {
            margin-top: 10px;
            flex-basis: 100%;
        }
    }
    @each $key, $val in $grid-map {
        @media (max-width: $key + px){
            @for $i from 1 through $val {
                $equ: #{$i / $val * 100 + "%"};
                &--#{$i} {
                    flex-basis: $equ;
                    margin-top: 0;
                }
            }
                   
        }
    }
}
