// ======================================
//  Buttons
// ======================================

.theme__colors {
    @include flexy ($just: flex-start, $wrap: wrap);
    @extend %btn;
    @include mq(small);
    @include mq(medium) {
        justify-content: center;
    }
    
}

.btn {
    @include colors($color-map) {
        color: $white;
        text-transform: $text--transform;
        font-weight: $font-weight--h;
    }
    @include btn-map($btn-map) {
        @include mq(small) {
            justify-content: center; 
        }
        @include mq(medium) {
            width: 15%;
            display: inline-block;
            margin: 1.5em .5em;
        }
    }
}