// ======================================
//  Form
// ======================================

.form {
    @include flexy($dir: column, $just: center);
    @include mq(medium) {
        margin-left: 2em;
    }

    .form__input {
        @extend %f-input
    }
    
    .btn--default {
        @extend %btn;
        background-color: $color--base;
        @include mq(medium) {
            margin-top: 3em;
        }
        @include mq(small) {
            margin-bottom: 3em;
        }
        &:hover {
            background-color: $color-base--light;
        }
    }

    .form__label--hidden {
        display: none;
    }
}
