// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************

// grid base class


  .grid__col {
  .theme__colors & {
    @include colors ($colors);
  }
    
  }
  


.grid {

  // .grid__row
  &__row {
    padding: 1em 10px;
    display: flex;
    flex-direction: column;

    // NOTE: replace with media query mixin if aiming for exceeds
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  // .grid__col
  &__col {
    // create grid columns dynamically
    // loop through each column size
    // @for $i from 1 through 12 {

   
    //   &--#{$i} {
    //     margin-top: 10px;
    //     flex-basis: 100%;
    //     @media (min-width: 768px) {
    //       margin-top: 0;
    //       flex-basis: #{$i / 12 * 100 + "%"} ;
        @include grid;
   
    
  }
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    // NOTE: replace with media query mixin if aiming for exceeds
    @media (min-width: 768px) {

      // add grid gutter
      margin-left: 10px;
    }
  }
}

