// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************

// grid base class

.grid {
  
  // .grid__row
  &__row {
    @include flexy($dir: column, $just: center);
    padding: 1em 10px;
    @include mq(medium) {
      flex-direction: row;
    }
    .centered {
      justify-self: center;
    }
  }
  // .grid__col
  &__col {
    // @include colors ($colors);
      @include colors($colors);
      @include grid;
      @include mq(medium) {
        @include grid-mq;
      }
  }
}
// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    @include mq(medium) {

      // add grid gutter
      margin-left: 10px;
    }
  }
}

