// ======================================
//  Image
// ======================================

.img {
    &--avatar {
        @extend %img;
    }

    &--frame {
        width: 90%;
        padding: 0.5em;
        border: solid 0.5px $black;
        @include mq(small) {
            margin-bottom: 2em;
        }
    }

    &--logo{
   @include mq(medium) {
       display: flex;
   }
    
  }
}