// ======================================
//  Image
// ======================================

.img {
    &--avatar {
        @extend %img;
        @include mq(small) { 
            width: 50%;
        }
    }

    &--frame {
        @include mq(small) {
            margin-bottom: 2em;
            width: 100%;
            padding: 0.5em;
            border: solid 0.5px $black;
        }
    }

    &--logo{
        @include mq(small) {
            margin-bottom: 2em;
        }
        @include mq(medium) {
            @include flexy;
   }
    
  }
}