// ======================================
//  Typography
// ======================================

.card {
    text-align: left;

    .headline--primary {
        width: 70%;
        margin-left: .8em;
        color: $complement;
        font-weight: $font-weight--h;
        font-size: $font-size--h;
    }

    .link {
        color: $color-base--light;
        font-weight: $font-weight--h;
    }

    .blockquote {
        border-left: solid .5em $color-base--light;
        font-size: $font-size--h;
        padding-left: .8em;
        border-radius: .5em;
    }
}

.headline--secondary {
    color: $color-base--dark;
    font-size: $font-size--p;
    font-weight: lighter;
    text-align: left;
}