// ======================================
//  Base Styles
// ======================================

* {
    box-sizing: border-box;
    font-family: $font-family--primary;
}

p {
    font-size: $font-size--p;
}