// ======================================
//  Base Styles
// ======================================

* {
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
    font-family: $font-family--primary;
    text-align: center;
}

p {
    font-size: $font-size--p;
    font-family: $font-family--secondary;
    line-height: $line--height;
}

a {
    @extend %a;
}

ul {
    list-style-type: none;
    padding: 0;
}